@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


:root {  
    --color-light-black: #060E1A;
    --color-black: #051114;
    --color-white: #fff;
    --color-light-blue: #14B2D4;
    --color-medium-blue: #45B5EE;
    --color-dark-blue: #2657A4;
    --color-blue: #42B4EE;   
    --color-grey: #51565E;  
    --color-green:#B2D49D; 
    --font-family-inter: 'Inter', sans-serif;
  
  }
  
  *,
  *::before,
  *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row {
  border: 1px solid red;
  padding: 0 0;
  margin: 0 0;
}

.column {
  border: 1px solid orange;
}

.col {
  border: 1px solid blueviolet;
  flex: 1 0 0%;
}

.container-fluid {
  padding: 0;
}

.container {
  padding: 0 0;
}

body {
  font-family: var(--font-family-inter);
  margin: 0 auto;    
  max-width: 1600px;
  width: 100%;
}

.subtitle {
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; 
}

.subheading {
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.text-white {
  color: white;
}

header {
  height: 921.518px;  
  background: linear-gradient(251deg, #461096 0.57%, #7F3CE0 99.97%);;
}

.navbar-brand {
  width: 152px;
  height: 50.825px;
}
.navbar-container {
  display: flex;
  width: 1140px;


}
.navbar {
  max-width: 1600px;
  padding-top: 35px;
  padding-left: 230px;

}

.navbar-nav {
  gap: 40px;
}

.nav-link {
  color: white;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.nav-link:hover {
  color: #44B4EE; 
}

.active {
  color: #44B4EE !important; 
  text-decoration: none; 
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  border: 3px dotted transparent;
  transition: 0.3s;
  position: relative; 
}


.active:after {
    position: absolute;
    transition: 0.3s;
    content: "";
    width: 100%;
    left: 0;
    bottom: 0;
    height: 1px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, #42B4EE 48.85%, rgba(255, 255, 255, 0.00) 100%);
  }
  
  :hover:after {
    width: 100%;
    left: 0;
  }
 

.navbar-button {
  border: none;
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #42B4EE;
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  margin-left: 40px;
}

.hero {
  padding-left: 230px;
  display: flex;

}

.hero-title{
  padding-top: 145px;
  color: var(--white, #FFF);
  font-family: Inter;
  font-size: 62px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  width: 498px;
}

.hero-subtitle {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-top: 25px;
  opacity: 0.8;
  width: 435px;
}

.hero-button{
  padding-left: 40px;
  margin-top: 35px;
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: var(--Primary, #42B4EE);
  color: var(--white, #FFF);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  border: none;
}

.hero-content {
  width: 498px;
}

.hero-image {
  padding-top: 177px;
  width: 872px;
  padding-right: 83.3px;
}

#About {
  margin-top: 140.48px;
  margin-left: -93px;
  height: 765.48px; 
}

.about-image {
  width: 873px; 
  height: 625px; 
  overflow: hidden; 
}

.about-content {
  padding-top: 91px;
    width: 727px; 
    height: 625px;  
}

.about-text {
    height: 114px;
    width: 508px;
    margin-left: 30px;
}

.about-list-item__ttile { 
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;    
    margin-top: 30px;
    margin-bottom: 10px;
}

.about-list-item__desc {    
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.7;
    width: 367px;
}

.about-list-item__icon {
    margin-top: 18px;
    margin-right: 18px;
   
}

.about-list-item__icon img {
    margin-top: 18px;
    width: 24px;
    height: 22px;
    flex-shrink: 0;
}

#About ul {
    list-style: none;
}

@media only screen and (max-width: 978px) {
    .about-wrapper {
        flex-direction: column;
        margin-left: 0;
    }
    .about-wrapper div {
        width: 100%;
    }
  }

  #Services p {
    width: 549px;
    height: 114px;
  }

#Services {  
    min-height: 546px;   
    margin: 0 auto;
}
  
  .services-item {
    width: 262px;
    height: 417px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 6px 50px 5px rgba(6, 14, 26, 0.05);
  }
  .services-item:first-child {
  background: var(--white, #FFF);
  box-shadow: 0px 2px 4px 0px #5B1FB0;
  }

  .services-item__image img {
    margin: 40px 57px 50px 56px;
}

.services-item__title {
    color: black;
    width: 213px;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin: 0 auto 10px auto;
}

.services-item__desc {
    color: #51565E;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 213px;
    margin: 0 auto 20px auto;
}
  .services-item button {
    border: none;
    background-color: transparent;
}

#Pricing {
    margin-top: 143px;
}

 .form-check-input:checked{   
    border-radius: 20px;
    border: 1px solid #42B4EE;   
    width: 83px;
    height: 33px;      
}

.form-check-input:not(checked) {   
    border-radius: 20px;
    border: 1px solid #42B4EE;
    background-image: red;  
    width: 83px;
    height: 33px;      
}
input[type=checkbox]{
    accent-color: green;
}
.pricing-item{
    width: 360px;
    height: 480px;    
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 6px 50px 5px rgba(6, 14, 26, 0.05);
}

.pricing-item__title {
    color: var(--Black, #051114);
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    opacity: 0.7;
    margin-top: 50px;
    margin-bottom: 0;
}

.pricing-item__line {
    margin-bottom: 0;    
}

.pricing-item__line img { 
    display: block; 
    width: 178px;
    margin: 10px auto 7px auto; 
}

.pricing-item__subtitle {
    color: var(--Black, #051114);
    text-align: center;
    font-family: Inter;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 40px; 
}

.pricing-item__subtitle span {
    color: var(--Black, #051114);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;    
}

.pricing-item__desc {
    color: var(--Black, #051114);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 10px;
}

.pricing-item__button {
    margin-top: 40px;
}

.pricing-item__button-light {
    display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: rgba(66, 180, 238, 0.10);
    border: none;
    color: var(--Primary, #42B4EE);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.8px;
}

.pricing-item__button-dark {
    display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--Primary, #42B4EE);
    color: var(--white, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.8px;
    border: none;
}

.border-gradient {
    border-width: 1px 1px 2px 1px;
    border-image: linear-gradient(262deg, #5319A6 -30.56%, #7635D4 155.28%)#7635D4;
    border-image-slice: 10;
    border-style: solid; 
  }
#Testimonials {
    margin-top: 142px;
}
  .testimonials-subtitle {
    color: var(--Black, #051114);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.7;
  }

  .testimonials-item {
    width: 360px;
    height: 291px;
    border-radius: 10px;
    border-radius: 10px;
    background: var(--white, #FFF);
    box-shadow: 0px 4px 50px 5px rgba(5, 17, 20, 0.05);
  }

  .testimonials-item:first-child {
    background: var(--white, #FFF);
    box-shadow: 0px 2px 4px 0px #5B1FB0;
  }

  .testimonials-item__desc {
    width: 200px;
    height: 76px;
    color: var(--Black, #051114);
    font-family: Inter;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    line-height: 160%;
    margin: 60px auto 25px 90px;
  }

  .testimonials-item__title {
    color: var(--Black, #051114);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-left: 20px;
    margin-top: 14px;
    margin-bottom: 5px;
  }

  .testimonials-item__subtitle {
    color: var(--Black, #051114);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-left: 20px;
  }

  .testimonials-item__image img {
    margin-left: 57px;
  }

  .news-item {
    width: 555px;
    height: 650px;
    border-radius: 10px;
    border: 2px solid rgba(5, 17, 20, .2);    
  }
#News {
    margin-bottom: 140px;
}

  .news-image {
    width: 555px;
    height: 358px;
    margin-bottom: 30px;
  }

  .news-image img {
    margin-left: -2px;
    margin-top: -2px;    
  }

  .news-details {
    color: var(--Black, #051114);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    opacity: 0.7;
    margin-bottom: 22px;
  }

  .news-details:first-child {
    color: var(--Black, #051114);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.7;
  }

.news-title {
    color: var(--Black, #051114);
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 20px;
}

.news-desc {
    color: var(--Black, #051114);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.7;
    width: 427px;
    margin-bottom: 25px;
}

  .news-item__button {
    display: inline-flex;
    padding: 10px 20px;
    align-items: flex-start;
    gap: 10px;
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.7px;
    border-radius: 5px;
    background: var(--Primary, #42B4EE);
    border: none;
  }

  footer {
    background-color: var(--Black, #051114); 
    height: 504px;
  }

  footer ul{
    list-style: none;
    margin-bottom: 0;
  }

  footer ul li{
    margin-left: -30px;
    color: white;
    opacity: 0.7;
    margin-bottom: 10px;  
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }

  footer ul li:last-child  {
    margin-bottom: 0;
  }


  .footer-title {
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 30px;
  }

.footer-subtitle {
    width: 241px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.7;
    margin-bottom: 25px;
}

.footer-text-about {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 288px;
    opacity: 0.7;
    margin-top: 30.17px;
}

  .footer-copyright {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    opacity: 0.7;
    margin-top: 30px;
  }

  input {
    display: flex;
    background-color: transparent;
    color: white;
    width: 206px;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.50);;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.7;
  }

  .input-group-text {
    display: inline-flex;
    height: 56px;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 0px 5px 5px 0px;
    background: var(--Primary, #42B4EE);
    width: 100px;
    border:none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
  }