@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');



:root {  
    --color-light-black: #060E1A;
    --color-black: #051114;
    --color-white: #fff;
    --color-light-blue: #14B2D4;
    --color-medium-blue: #45B5EE;
    --color-dark-blue: #2657A4;
    --color-blue: #42B4EE;   
    --color-grey: #51565E;  
    --color-green:#B2D49D; 
    --font-family-inter: 'Inter', sans-serif;
  
  }
  
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.row {
    border: 1px solid red;
}

.column {
    border: 1px solid orange;
}

.col {
    border: 1px solid blueviolet;
    flex: 1 0 0%;
}

.container-fluid {
    padding: 0;
}

body {
    font-family: var(--font-family-inter);
    margin: 0 auto;    
    max-width: 1600px;
    width: 100%;
    border-left: 2px solid greenyellow;
    border-right: 2px solid greenyellow;
    min-height: 100vh; 
}

.subtitle {
    font-family: Inter;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
}

.subheading {
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

header {
    height: 921.518px;
    background: linear-gradient(251deg, #461096 0.57%, #7F3CE0 99.97%);;
}

.navbar {
    max-width: 1600px;
    margin: 0 auto;
}


#about {
    margin-top: 140.48px;
    margin-left: -93px;
    height: 765.48px;
    max-width: 1600px;  
}

.about-image {
    width: 873px; 
    height: 625px; 
    overflow: hidden; 
}

.about-content {
    padding-top: 91px;
    width: 727px; 
    height: 625px;  
}

.about-text {
    height: 114px;
    width: 508px;
    margin-left: 30px;
}

.about-list-item__ttile { 
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;    
    margin-top: 30px;
    margin-bottom: 10px;
}

.about-list-item__desc {    
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.7;
    width: 367px;
}

.about-list-item__icon {
    margin-top: 18px;
    margin-right: 18px;
   
}

.about-list-item__icon img {
    margin-top: 18px;
    width: 24px;
    height: 22px;
    flex-shrink: 0;
}

#about ul {
    list-style: none;
}

@media only screen and (max-width: 978px) {
    .about-wrapper {
        flex-direction: column;
        margin-left: 0;
    }
    .about-wrapper div {
        width: 100%;
    }
  }

  #Services p {
    width: 549px;
    height: 114px;
  }

#Services {
    width: 1600px;
    min-height: 546px;
    flex-shrink: 0;
}
  
  .services-item {
    width: 262px;
    height: 417px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 6px 50px 5px rgba(6, 14, 26, 0.05);
  }

  .services-item__image img {
    margin: 40px 57px 50px 56px;

}

.services-item__title {
    color: black;
    width: 213px;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin: 0 auto 10px auto;
}

.services-item__desc {
    color: #51565E;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 213px;
    margin: 0 auto 20px auto;
}
  .services-item button {
    border: none;
    background-color: transparent;
}

#Pricing {
    margin-top: 143px;
}

 .form-check-input:checked{   
    border-radius: 20px;

    border: 1px solid #42B4EE;   
    width: 83px;
    height: 33px;      
}

.form-check-input:not(checked) {   
    border-radius: 20px;
    border: 1px solid #42B4EE;   
    width: 83px;
    height: 33px;      
}
